USE [master]
GO
/****** Object:  Database [LHLK22CNT3Lesson07]    Script Date: 6/12/2024 10:55:56 AM ******/
CREATE DATABASE [LHLK22CNT3Lesson07]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LHLK22CNT3Lesson07', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\LHLK22CNT3Lesson07.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LHLK22CNT3Lesson07_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER01\MSSQL\DATA\LHLK22CNT3Lesson07_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LHLK22CNT3Lesson07].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LHLK22CNT3Lesson07]
GO
/****** Object:  Table [dbo].[LhlKHOA]    Script Date: 6/12/2024 10:55:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LhlKHOA](
	[LhlMaKH] [nchar](10) NOT NULL,
	[LhlTenKH] [nvarchar](50) NULL,
	[LhlTrangThai] [bit] NULL,
 CONSTRAINT [PK_LhlKHOA] PRIMARY KEY CLUSTERED 
(
	[LhlMaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LHLSV]    Script Date: 6/12/2024 10:55:56 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LHLSV](
	[LhlMaSV] [nvarchar](50) NOT NULL,
	[LhlHoSv] [nvarchar](50) NULL,
	[LhlTenSV] [nvarchar](50) NULL,
	[LhlNgaySinh] [date] NULL,
	[LhlPhai] [bit] NULL,
	[LhlPhone] [nchar](10) NULL,
	[LhlEmail] [nvarchar](50) NULL,
	[LhlMaKH] [nchar](10) NULL,
 CONSTRAINT [PK_LHLSV] PRIMARY KEY CLUSTERED 
(
	[LhlMaSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LhlKHOA] ([LhlMaKH], [LhlTenKH], [LhlTrangThai]) VALUES (N'2210900037', N'Lê Hoàng Long', 1)
GO
INSERT [dbo].[LHLSV] ([LhlMaSV], [LhlHoSv], [LhlTenSV], [LhlNgaySinh], [LhlPhai], [LhlPhone], [LhlEmail], [LhlMaKH]) VALUES (N'01', N'lê hoàng', N'long', CAST(N'2004-07-26' AS Date), 1, N'0349393995', N'lehoanglong26072004@gmail.com', N'2210900037')
GO
ALTER TABLE [dbo].[LHLSV]  WITH CHECK ADD  CONSTRAINT [FK_LHLSV_LhlKHOA] FOREIGN KEY([LhlMaKH])
REFERENCES [dbo].[LhlKHOA] ([LhlMaKH])
GO
ALTER TABLE [dbo].[LHLSV] CHECK CONSTRAINT [FK_LHLSV_LhlKHOA]
GO
USE [master]
GO
