@{
    ViewBag.Title = "Lê Hoàng Long";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bài Thi Giữa Kì Của Lê Hoàng Long</h3>

    <address>
        K22CNT3 - Môn Lập Trình Ứng Dụng Web Với Công Nghệ ASP.NET MVC5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Chungtrinhj@gmail.com">Chungtrinhj@gmail.com</a><br />
        <strong>Cá Nhân:</strong> <a href="mailto:lehoanglong26072004@gmail.com">lehoanglong26072004@gmail.com</a>
    </address>
</main>